@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Pacifico&display=swap');
html,body{
    width: 100%;
    font-family: 'Lato', sans-serif;
    /* background-color: whitesmoke; */
    color: #273E47;
}

.container{
    max-width: 100%;
    padding: 0%;
    font-weight:bolder;
}
.fa-map-marker-alt{
    color: blue;
}


.topBox{
    margin: 2em;
}

.nav{
    /* background-color: rgb(85, 236, 229); */
    background-color: #00D9BA;
}

.brand-icon-text{
    font-family: 'Pacifico', cursive;
    
}

.navbar-light .navbar-brand{
    text-shadow: -1px 0 #273E47, 0 1px #273E47, 1px 0 #273E47, 0 -1px #273E47;
    color: #FC814A;
    margin-left: 1em;
}

form{
    text-align: center;
}

/* .card{
    
}  */
.buttonSubmit{
    background-color: #FC814A;
    align-content: center;
    color: #273E47;
}

.banner{
    height: 400px;
    text-align: center;
    /* background-color: rgb(245, 245, 122); */
    background-color: #F7E733;
    /* font-size: 3em; */
}

.banner-title{
    color:#FC814A;
    font-family: 'Pacifico', cursive;
    font-size: 10em;
}

.search-control{
    border: 2px solid #273E47 ;
    border-radius: 2em;
}

.detailsButtons{
    display: flex;
    flex-direction: column;
    row-gap: 2em;
    justify-content: space-around;
}

/* .logInForm{
    margin-top: 2em;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 50%;
}

.signUpForm{
    margin-top: 2em;
    
} */

.authFormCard{
    margin-top: 2em;
    width: 50%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 50%;

}

h1{
    text-align: center;
}

.errorDisplay{
    margin-top: 1em;
    text-align: center;
}

.searchResultCard{
    width: '18rem',

}
@media screen and (min-width: 992px) {
    .logInButton{
        margin-right: 1.5em;
        justify-content: flex-end;
    }
  }


  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .banner-title{
        color:#FC814A;
        font-family: 'Pacifico', cursive;
        font-size: 5em;
    }
  }

  @media only screen and (min-device-width: 481px) and (max-device-width: 768px) {
    .banner-title{
        color:#FC814A;
        font-family: 'Pacifico', cursive;
        font-size: 6em;
    }
  }

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .banner-title{
        color:#FC814A;
        font-family: 'Pacifico', cursive;
        font-size: 7em;
    }
  }
.searchCards{
    display: flex;
    flex-direction: row;
    column-gap: 2em;
}


