@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Pacifico&display=swap');
html,body{
    width: 100%;
    font-family: 'Lato', sans-serif;
    /* background-color: whitesmoke; */
    color: #273E47;
}

.container{
    max-width: 100%;
    padding: 0%;
    font-weight:bolder;
}
.fa-map-marker-alt{
    color: blue;
}

.topBox{
    margin: 2em;
}

.nav{
    /* background-color: rgb(85, 236, 229); */
    background-color: #00D9BA;
}

.brand-icon-text{
    font-family: 'Pacifico', cursive;
    color: white;
}

form{
    text-align: center;
}

/* .card{
    
}  */
.buttonSubmit{
    background-color: #FC814A;
    align-content: center;
    color: #273E47;
}

.banner{
    height: 400px;
    text-align: center;
    /* background-color: rgb(245, 245, 122); */
    background-color: #F7E733;
    /* font-size: 3em; */
}

.banner-title{
    color:#FC814A;
    font-family: 'Pacifico', cursive;
    font-size: 10em;
}

.search-control{
    border: 2px solid #273E47 ;
    border-radius: 2em;
}

.detailsButtons{
    display: flex;
    flex-direction: column;
    row-gap: 2em;
    justify-content: space-around;
}

/* .logInForm{
    margin-top: 2em;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 50%;
}

.signUpForm{
    margin-top: 2em;
    
} */

.authFormCard{
    margin-top: 2em;
    width: 50%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 50%;

}
@media screen and (min-width: 992px) {
    .logInButton{
        margin-right: 1.5em;
        justify-content: flex-end;
    }
  }


